//---- White Color Shade ----//
$color-white-shade-1  : #ffffff;
$color-white-shade-2  : #f0f0f0;
$color-white-shade-3  : #f4f7fa;
$color-white-shade-4  : #e0e0e0;
$color-white-shade-5  : #dadada;
$color-white-shade-6  : #f2f2f2;
$color-white-shade-7  : #f1f1f1;


//---- Black Color Shade ----//
$color-black-shade-1: #000000;

//---- Navbar Shades ----//
$navbar-shade-1: #ffffff;
$navbar-header-shade: #013A6B;
$navbar-gradiant-shade: #004E95;
$navbar-search-icon-hover: #8ec9ff;
$navbar-favourite-icon: #d9100a;

//---- Signup Form Shades ----//
$signup-profileimg-shade-1: #b9b9b9;
$signup-separator: #616161;
$signup-btn-disabled: #cccccc;
$signup-btn-disabled-border: #c5c5c5;

//---- Event Card Shades ----//
$event-rsvp-icon: #cbff8f;
$event-heart-icon: #d32f2f;
$event-trash-icon: #795548;
$event-trash-hover: #4a291d;

//---- Error Shades ----//
$signup-form-invalid-input: #eb2e24;
$signup-form-error-msg: #ef5350;

//---- Grey Color Shade ----//
$color-grey-shade-1  : #cbcbcb;
$color-grey-shade-2  : #bdbdbd;
$color-grey-shade-3  : #9e9e9e;
$color-grey-shade-4  : #37474f;
$color-grey-shade-5  : #d1d1d1;
$color-grey-shade-6  : #8f8f8f;

//---- Peach Color Shade ----//
$peach-shade-1        :#ffede7;

//---- Red Color Shade ----//
$red-shade-1          : #f44336;
$red-shade-2          : #ec407a;
$red-shade-3          : #dd3023;

//---- Green Color Shade ----//
$green-shade-1          : #4caf50;
$green-shade-2          : #388e3c;
$green-shade-3          : #008000;

//---- Green Color Shade ----//
$blue-shade-1          : #03a9f4;
$blue-shade-2          : #1781d5;
$blue-shade-3          : #607d8b;
$blue-shade-4          : #2196f3;

// Creating an array of font sizes in rem and then making a function in _functions.scss to use them
$fontSizes: (
  small: (
    s9: 0.563rem,       // 09 pixels
    s10: 0.625rem,      // 10 pixels
    s11: 0.688rem,      // 11 pixels
    s12: 0.75rem,       // 12 pixels
    s13: 0.813rem,      // 13 pixels
    s14: 0.875rem       // 14 pixels
  ),
  medium: (
    m15: 0.938rem,      // 15 pixels
    m16: 1rem,          // 16 pixels
    m17: 1.063rem,      // 17 pixels
    m18: 1.125rem       // 18 pixels
  ),
  large: (
    l20: 1.25rem,       // 20 pixels
    l24: 1.5rem         // 24 pixels
  )
);