@import '../../Utils/Design-Tokens/CommonScssUtil.scss';
// main navbar wrapper
.navbar_nav {
	top: 0;
	position: fixed;
	height: 65px;
	width: 100%;
	color:$color-black-shade-1;
	@include flex-mixin(row, space-between, center);
	z-index: 9999;
	background-color: $navbar-header-shade;
	background-image: -webkit-linear-gradient(-30deg, $navbar-header-shade 73%, $navbar-gradiant-shade 50%);
	// inner navbar container
	.nav_container {
		//flex mixin
		@include flex-mixin(row, space-between, center);
		// li menu buttons
		li {
			color: $color-white-shade-1;
			font-size: fontSize(medium, m16);
		}
		.navbtn {
			svg {
				margin: -1px 0;
			}
		}
		.navbtn:hover {
			color: $color-grey-shade-5;
		}
		// favourite icon svg
		._favourites {
			svg {
				color: #ff4c47;
				font-size: 18px;
				margin: -1px 0;
				&:hover {
					color: $navbar-favourite-icon;
				}
			}
		}
	}
	// styles for brand logo
	.brand_logo {
		.logo{
			cursor: pointer;
			font-size: fontSize(large, l20);
			align-items: center;
			padding: 0px 25px;
			img {
				width: 85px;
				height: 95px;
			}
		}
	}
	.navBtnWrapper {
		@include flex-mixin(row, space-between, center);
	}
}

.container {  
  @include flex-mixin(row, unset, unset);
}

